.selectControl {
    float: left;
    margin-right: 10px;
    &-states {
        @inherit: .selectControl;
        width: 200px;
    }
    &-vendors {
        @inherit: .selectControl;
        width: 400px;
    }
}

.checkbox {
    float: left;
    margin-top: 12px;
}

.applyFiltersButton {
    float: right;
    cursor: pointer;
    margin-right: 50px;
}

.mainContainer {
    display: flex;
    flex-direction: column;
}

.dealsContainer {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
}

.header > h3 {
    margin-right: 20px;
}

.navigationButton {
    margin-right: 20px;
    cursor: pointer;
    color: lightgray;
}

.selectedNavigationButton {
    @inherit: .navigationButton;
    color: gray;
}